{% extends "base.html" %}
{% block content %}
<script src="/static/js/feedback.js"></script>
<style>
    .ui-tabs-panel {
        width: 500px;
        height: 500px;
    }
    .ui-selectmenu-button {
        width: 150px !important;
        font-size: small !important;
    }
    .message {
        margin: 15px 5px;
    }
    #comment-area {
        width: 100%;
        height: 360px;
    }
    .ui-checkboxradio-checked  {
        background: linear-gradient(#fbcb09, #f6a828) !important;
    }
    .ui-checkboxradio-checked .ui-icon-heart {
        background-image: url('/static/css/images/ui-icons_ffffff_256x240.png');
    }
</style>
<h3>Отзыв</h3>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Оценка</a></li>
        <li><a href="#tabs-2">Реплики</a></li>
        <li><a href="#tabs-3">Общее</a></li>
    </ul>
    <div id="tabs-1">
        <div>
            <strong>Содержание: <span id="content-label">3</span></strong>
            <p><small>Смысловой объем высказываний. Соответствие теме диалога.</small></p>
            <div id="content-slider"></div>
            <br/>
            <strong>Организация: <span id="organization-label">3</span></strong>
            <p><small>Адекватная реакция на реплики собеседника. Cтилевое оформление речи.</small></p>
            <div id="organization-slider"></div>
            <br/>
            <strong>Лексика: <span id="vocabulary-label">3</span></strong>
            <p><small>Большой словарный запас. Лексические ошибки</small></p>
            <div id="vocabulary-slider"></div>
            <br/>
            <strong>Грамматика: <span id="grammar-label">3</span></strong>
            <p><small>Использование грамматических конструкций. Грамматические ошибки.</small></p>
            <div id="grammar-slider"></div>
            <br/>
            <strong>Итого: <span id="summary">3</span></strong>
            <div id="progressbar"></div>
        </div>
    </div>
    <div id="tabs-2" style="overflow-y: scroll">
        <table style="width: 100%">
            <tbody>
            {% for message in messages %}
            <tr>
                <td>
                    <input type="hidden" class="id" value="{{message.id}}"/>
                    <figure class="avatar">
                    {% if message.author == -1 %}
                        <img src="/static/res/bot_pic.png" />
                    {% else %}
                        <img src="/static/res/user_pic.png" />
                    {% endif %}
                    </figure>
                </td>
                <td>
                    <div class="message">{{ message.text }}</div>
                </td>
                <td>
                    <select name="category" class="select-category" id="category-{{message.id}}">
                        <option value="">...</option>
                        <option value="greeting">Приветствие</option>
                        <option value="narrative">Повествование</option>
                        <option value="question">Вопрос</option>
                        <option value="answer">Ответ</option>
                        <option value="request">Просьба</option>
                        <option value="abuse">Оскорбление</option>
                        <option value="goodbye">Прощание</option>
                    </select>
                </td>
                <td>
                {% if message.author == -1 %}
                    <label for="like-{{message.id}}">
                        <span class="ui-icon ui-icon-heart"></span>
                        <input type="checkbox" class="like" name="like-{{message.id}}" id="like-{{message.id}}">
                    </label>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="tabs-3">
        <div>
            <strong>Комментарий</strong>
            <p>
                <small>Ваш отзыв о проекте</small>
            </p>
            <textarea id="comment-area" class="ui-widget ui-corner-all"></textarea>
        </div>
        <button class="ui-button ui-widget ui-corner-all" onclick="sendFeedback()">Отправить</button>
    </div>
</div>
{% endblock %}