{% extends "base.html" %}
{% block content %}
<script src="/static/js/feedback.js"></script>
<h3>Отзыв</h3>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Оценка</a></li>
        <li><a href="#tabs-2">Реплики</a></li>
        <li><a href="#tabs-3">Общее</a></li>
    </ul>
    <div id="tabs-1">
        <div>
            <strong>Содержание: <span id="content-label">3</span></strong>
            <p><small>Смысловой объем высказываний. Соответствие теме диалога.</small></p>
            <div id="content-slider"></div>
            <br/>
            <strong>Организация: <span id="organization-label">3</span></strong>
            <p><small>Адекватная реакция на реплики собеседника. Cтилевое оформление речи.</small></p>
            <div id="organization-slider"></div>
            <br/>
            <strong>Лексика: <span id="vocabulary-label">3</span></strong>
            <p><small>Большой словарный запас. Лексические ошибки</small></p>
            <div id="vocabulary-slider"></div>
            <br/>
            <strong>Грамматика: <span id="grammar-label">3</span></strong>
            <p><small>Использование грамматических конструкций. Грамматические ошибки.</small></p>
            <div id="grammar-slider"></div>
            <br/>
            <strong>Итого: <span id="summary">3</span></strong>
            <div id="progressbar"></div>
        </div>
    </div>
    <div id="tabs-2">
        <p></p>
    </div>
    <div id="tabs-3">
        <div>
            <strong>Комментарий</strong>
            <p>
                <small>Ваш отзыв о проекте</small>
            </p>
            <textarea id="comment-area" class="ui-widget ui-corner-all"></textarea>
        </div>
        <button class="ui-button ui-widget ui-corner-all" onclick="sendFeedback()">Отправить</button>
    </div>
</div>
{% endblock %}